<% 
  represent_img_album = album.pics.size > 0 ? album.pics.first.image.url: '/assets/default-no-image.jpg'      
  user_album = album.user
%>
<div class="col-md-6 mb-3">
  <div class="container-fluid p-0">
    <div class="d-flex element-wrapper">
      <!-- left -->
      <div class="d-flex flex-fill align-items-center element-col-left">
          <div class="element-album ml-4">
            <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom img-element">
            <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom img-element">
            <%= link_to images_user_album_path(user_id: user_album, id: album), class: "element-album-main-image" ,remote: true, data: {toggle: "modal", target: "#myModal2"} do %>
              <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom">
            <% end %>
          </div>
      </div>
      <!-- end left -->
      <div class="d-flex flex-fill element-col-right">
        <div class="element-content">
          <div class="element-content-head">
            <div class="nav-link">
            <% if user_album.image.present? %>
              <span class="element-user-wrapper">
            <% else %>
              <span class="element-user-wrapper no-avatar" data-name="<%= user_album.words_no_avatar %>">                  
            <% end %>
                <img src="<%= user_album.image.url %>" alt="<%= "#{user_album.last_name} #{user_album.first_name}" %>" class="rounded-circle">
                <%= link_to user_path(user_album), :"data-turbolinks" => false do %>
                  <span class="element-user-name"><%= "#{user_album.last_name.capitalize} #{user_album.first_name.capitalize}" %></span>
                <% end %>
              </span>
              <%#  %>
              <% if current_user %>
                <% if current_user.followers.include? user_album %>
                  <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => user_album.id}, method: :post, remote: true , class: "element-a-follow following" %>
                <% else %>
                  <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => user_album.id}, method: :post, remote: true , class: "element-a-follow" %>
                <% end %>
              <% else %>
                <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "element-a-follow please-login" %>
              <% end %>
              <%#  %>
            </div>
          </div>
          <h5 class="element-content-title"><%= album.title %></h5>
          <p class="element-content-mid"><%= album.description %></p>
          <div class="element-right-heart">
            <% if current_user %>
              <% check_like_album = album.likes.find_by(user_id: current_user) %>
              <%= link_to like_user_album_path(:user_id => user_album, :id => album.id), method: :post, remote: true, class: if check_like_album then "a-like liked" else "a-like" end do %>
                <i class="fa fa-heart"></i>
              <% end %>                
            <% else %>
              <%= link_to 'javascript:;', title: "Please login to like this album", class: "a-like please-login" do %>
                <i class="fa fa-heart"></i>
              <% end %>
            <% end %>
            <small class="count-like"><%= album.likes.size %></small>
          </div>
          <span class="element-right-time"><small><%= album.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
        </div>
      </div>
    </div>
  </div>
</div>