<ul class="tabs mb-3">
  <li class="tab-link <% if @active_photo_tag %>current <% end %>" data-tab="tab-photo"> 
    <% if @active_feeds %>
      <%= link_to "PHOTOS", feeds_photos_path, :"data-turbolinks" => false %>
    <% end %>
    <% if @active_discover %>
      <%= link_to "PHOTOS", discover_photos_path, :"data-turbolinks" => false %>
    <% end %>
  </li>
  <li class="tab-link <% if @active_album_tag %>current <% end %>" data-tab="tab-album">
    <% if @active_feeds %>
      <%= link_to "ALBUMS", feeds_albums_path, :"data-turbolinks" => false %>  
    <% end %>
    <% if @active_discover %>
      <%= link_to "ALBUMS", discover_albums_path, :"data-turbolinks" => false %>  
    <% end %>
  </li>
</ul>
<!-- TAB PHOTO -->
<div id="tab-photo" class="tab-content <% if @active_photo_tag %>current <% end %>">
<% if @active_photo_tag %>
<% if @photos and @photos.size > 0 %>
  <div class="row">
    <!-- element -->
    <% @photos.each do |photo|%>
    <% u = photo.user %>
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <a href="javascript:;" class="flex-fill a-img-element" data-toggle="modal" data-target="#myModal">
            <img src="<%= photo.image.url %>" alt="<%= photo.title %>" class="img-fluid img-custom">
          </a>
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <div class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="<%= u.image.url %>" alt="<%= "#{u.last_name} #{u.first_name}"%>" class="rounded-circle">
                    <%= link_to user_path(photo.user), :"data-turbolinks" => false do %>
                      <span class="element-user-name"><%= "#{u.last_name.capitalize} #{u.first_name.capitalize}"%></span>
                    <% end %>                    
                  </span>
                </div>
                <% if current_user %>
                  <% if current_user.followers.include? u %>
                    <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => u.id}, method: :post, remote: true , class: "element-a-follow following" %>
                  <% else %>
                    <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => u.id}, method: :post, remote: true , class: "element-a-follow" %>
                  <% end %>
                <% else %>
                  <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "element-a-follow", onclick: "please_login()" %>
                <% end %>
              </div>
              <h5 class="element-content-title"><%= photo.title %></h5>
              <p class="element-content-mid"><%= photo.description %></p>
              <div class="element-right-heart">
                <% if current_user %>
                  <% check_like = photo.likes.find_by(user_id: current_user) %>
                  <%= link_to like_user_photo_path(:user_id => u, :id => photo.id), method: :post, remote: true, class: if check_like then "a-like liked" else "a-like" end do %>
                    <i class="fa fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to 'javascript:;', title: "Please login to like this photo", class: "a-like", onclick: "please_login()" do %>
                    <i class="fa fa-heart"></i>
                  <% end %>                
                <% end %>
                <small class="count-like"><%= photo.likes.size %></small>
              </div>
              <span class="element-right-time"><small><%= photo.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!-- end element -->
  </div>
  <div class="row justify-content-center">
    <%= will_paginate @photos, :param_name => 'page', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
<% else %>
<h5 class="text-danger">No Photos</h5>
<% end %>
<% end %>
</div>
<!-- end TAB PHOTO -->
<!-- TAB ALBUM -->
<div id="tab-album" class="tab-content <% if @active_album_tag %>current <% end %>">
   <% if @active_album_tag %>
  <% if @albums and @albums.size > 0 %>
    <div class="row">
    <% @albums.each do |album|%>
    <!-- element -->
    <% 
      represent_img_album = album.pics.size > 0 ? album.pics.first.image.url: '/assets/default-no-image.jpg'      
      user_album = album.user
    %>
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <!-- left -->
          <div class="d-flex flex-fill align-items-center element-col-left">
              <div class="element-album ml-4">
                <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom img-element">
                <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom img-element">
                <%= link_to images_user_album_path(user_id: user_album, id: album), class: "element-album-main-image" ,remote: true, data: {toggle: "modal", target: "#myModal2"} do %>
                  <img src="<%= represent_img_album %>" alt="<%= album.title%>" class="img-fluid img-thumbnail-custom">
                <% end %>
              </div>
          </div>
          <!-- end left -->
          <div class="d-flex flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <div class="nav-link">
                  <span class="element-user-wrapper">
                    <img src="<%= user_album.image.url %>" alt="<%= "#{user_album.last_name} #{user_album.first_name}" %>" class="rounded-circle">
                    <%= link_to user_path(user_album), :"data-turbolinks" => false do %>
                      <span class="element-user-name"><%= "#{user_album.last_name.capitalize} #{user_album.first_name.capitalize}" %></span>
                    <% end %>
                  </span>
                  <%#  %>
                  <% if current_user %>
                    <% if current_user.followers.include? user_album %>
                      <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => user_album.id}, method: :post, remote: true , class: "element-a-follow following" %>
                    <% else %>
                      <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => user_album.id}, method: :post, remote: true , class: "element-a-follow" %>
                    <% end %>
                  <% else %>
                    <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "element-a-follow", onclick: "please_login()" %>
                  <% end %>
                  <%#  %>
                </div>
              </div>
              <h5 class="element-content-title"><%= album.title %></h5>
              <p class="element-content-mid"><%= album.description %></p>
              <div class="element-right-heart">
                <% if current_user %>
                  <% check_like_album = album.likes.find_by(user_id: current_user) %>
                  <%= link_to like_user_album_path(:user_id => user_album, :id => album.id), method: :post, remote: true, class: if check_like_album then "a-like liked" else "a-like" end do %>
                    <i class="fa fa-heart"></i>
                  <% end %>                
                <% else %>
                  <%= link_to 'javascript:;', title: "Please login to like this album", class: "a-like", onclick: "please_login()" do %>
                    <i class="fa fa-heart"></i>
                  <% end %>
                <% end %>
                <small class="count-like"><%= album.likes.size %></small>
              </div>
              <span class="element-right-time"><small><%= album.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <% end %>
    </div>
    <div class="row justify-content-center">
      <%= will_paginate @albums, :param_name => 'page', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
  <h5 class="text-danger">No Albums</h5>
  <% end %>
  <% end %>
</div>

<!-- end TAB ALBUM -->

<!-- Modal Photo -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header-custom">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body pl-0 pr-0">
        <div class="container text-center img-container">
          <img src="" class="img-fluid img-modal" alt="img">
        </div>
        <p class="modal-description">Some text in the modal.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Album -->
<div id="myModal2" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <!--  -->
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- The slideshow -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="" alt="Los Angeles" class="img-fluid">
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</div>
