<%= 
  case @active_page
  when "feeds"
    render "tabs", photos_path: feeds_photos_path, albums_path: feeds_albums_path
  when "discover"
    render "tabs", photos_path: discover_photos_path, albums_path: discover_albums_path
  else 
    render "tabs", photos_path: "javascript:;", albums_path: "javascript:;"
  end
%>
<%# TAB PHOTO %>
<div id="tab-photo" class="tab-content <%= "current" if params[:active_tab] == "photos" or params[:active_tab].nil? %>">
  <%= render "feeds/photos/tab_photos", photos: @photos %>
</div>

<%# TAB ALBUM %>
<div id="tab-album" class="tab-content <%= "current" if params[:active_tab] == "albums" %> ">
  <%= render "feeds/albums/tab_albums", albums: @albums %>
</div>

<%# Modal Photo %>
<%= render "modal_photo" %>

<%# Modal Album %>
<%= render "modal_album" %>