<h5 class="mt-3 d-inline-block title">Edit Photo </h5>
  <%= link_to 'Back', admin_photos_path, class: "btn btn-sm btn-primary float-right mt-3" %>
<hr/>
<%= form_with(model: @photo, url: :admin_edit_photo, method: :put, local: true, :html => { id: "form-add-album" }) do |f| %>
<% if @photo.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

  <ul>
    <% @photo.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control", placeholder: "title" %>
    </div>
    <div class="form-group">
      <%= f.label :sharing_mode %>
      <%= f.select :sharing_mode, options_for_select([["Public", :public_mode], ["Private", :private_mode]], @photo.sharing_mode ),{:prompt => "Select One"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control", placeholder: "description"%>
    </div>
  </div>
</div>
<div class="d-flex justify-content-start form-group">
  <div class="col-up-load" id="col-input-file" style="display:none !important;">
    <div class="custom-file my-custom-file">
      <%= f.file_field :image , :class => "custom-file-input my-custom-file"%>
      <label class="custom-file-label my-custom-file" for="customFile">
        <i class="fa fa-plus"></i>
      </label>
    </div>
  </div>
  <div class="d-flex col-up-load" id="img_preview">
    <%= image_tag(@photo.image.url, width: 250, class: "img-fluid img-thumbnail") if @photo.image.exists? %>
    <a href="javascript:;" id="remove_img_edit_photo"><i class="fa fa-sm fa-close"></i></a>
  </div>
</div>
<div class="actions">
  <%= f.submit "Save" , :class => "btn btn-sm btn-success" %>
  <%= link_to admin_delete_photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
</div>
<% end %>
</div>