<div class="card border-0 mt-3">
  <div class="row no-gutters">
    <div class="col-auto">
      <%= image_tag user.image.url, class: "img-fluid rounded-circle profile-card-image", alt: "#{user.full_name}" %>
    </div>
    <div class="col p-3">
      <div class="card-block px-2">
        <% if current_user.nil? %>
          <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "profile-card-follow please-login" %>
        <% else %>
          <% if current_user == user %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "profile-card-follow edit-profile" %>
          <% else %>
            <% if current_user.followers.include? user %>
              <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :user_follow_id => user.id}, method: :post, remote: true , class: "a-person-card-follow profile-card-follow following" %>
            <% else %>
              <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :user_follow_id => user.id}, method: :post, remote: true , class: "a-person-card-follow profile-card-follow" %>
            <% end %>
          <% end %>
        <% end %>
        <h2 class="card-title"><%= user.full_name %></h2>
        <ul class="public-profile-tabs">
          <li class="tab-link current" data-tab="tab-photos"><span class="counts counts-photos-tab"><%= list_photos.size %></span> photos</li>
          <li class="tab-link" data-tab="tab-albums"><span class="counts counts-albums-tab"><%= list_albums.size %></span> albums </li>
          <li class="tab-link" data-tab="tab-followings" id="_tab_followings"><span class="counts" id = "counts-followings-tab"><%= user.followers.size %></span> followings</li>
          <li class="tab-link" data-tab="tab-followers" id="_tab_followers"><span class="counts" id = "counts-followers-tab"><%= user.followees.size %></span> followers</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>