<%= form_with(model: user, controller: "users", url: update_by_admin_user_path(user), method: :put, local: true, id: "form-edit-self-basic-info" ,class: "form mb-5") do |f| %>
  <%= render 'errors_form', user: user %>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="first_name">First Name</label>
    </div>
    <div class="col-md-4">
        <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="last_name">Last Name</label>
    </div>
    <div class="col-md-4">
        <%= f.text_field :last_name, class: "form-control", placeholder: "last name" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="email">Email</label>
    </div>
    <div class="col-md-4">
      <%= f.email_field :email, class: "form-control", placeholder: "email" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <%= f.label "Password", class: "float-right" %>
    </div>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control", placeholder: "******" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <%= f.label "Active?", class: "float-right" %>
    </div>
    <div class="col-md-4">
      <%= f.check_box :admin %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-auto">
      <%= f.submit "Save", class: "btn btn-sm btn-success"%>
    </div>
  </div>
<% end %>