<h5 class="mt-3 d-inline-block title">Edit User Profile</h5>
<%= link_to 'Back', {controller: :admin, action: :users}, class: "btn btn-sm btn-primary float-right mt-3" %>
<hr>
<div class="row mb-3">
  <div class="col-md-4 m-auto">
    <img src="<%= @user.image.url %>" width="100" height="100" id="img_avatar">  
    <%= form_with(model: @user, controller: :users, url: update_by_admin_user_path(@user), method: :put, local: true, id: "form-edit-self-image", class: "form mb-5") do |f| %>
      <%= f.file_field :image , :class => "custom-file-input"%>
    <% end %>
    <a href="javascript:;" id="a_change_avatar">CHANGE</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 m-auto">
    <p class="name_form">Basic Infomation</p>
  </div>
</div>
<%#  %>
<%= form_with(model: @user, controller: "users", url: update_by_admin_user_path(@user), method: :put, local: true, id: "form-edit-self-basic-info" ,class: "form mb-5") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="first_name">First Name</label>
    </div>
    <div class="col-md-4">
        <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="last_name">Last Name</label>
    </div>
    <div class="col-md-4">
        <%= f.text_field :last_name, class: "form-control", placeholder: "last name" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <label class="float-right" for="email">Email</label>
    </div>
    <div class="col-md-4">
      <%= f.email_field :email, class: "form-control", placeholder: "email" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <%= f.label "Password", class: "float-right" %>
    </div>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control", placeholder: "******" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 title-left-form-self-edit">
      <%= f.label "Active?", class: "float-right" %>
    </div>
    <div class="col-md-4">
      <%= f.check_box :admin %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-auto">
      <%= f.submit "Save", class: "btn btn-sm btn-success"%>
    </div>
  </div>

<% end %>

