<div class="card border-0 mt-3">
  <div class="row no-gutters">
    <div class="col-auto">
      <img src="<%= @user.image.url %>" class="img-fluid rounded-circle profile-card-image" alt="<%= @user.last_name %>">
    </div>
    <div class="col p-3">
      <div class="card-block px-2">
        <% if current_user.nil? %>
          <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "profile-card-follow", onclick: "please_login()" %>
        <% else %>
          <% if current_user == @user %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "profile-card-follow edit-profile" %>
          <% else %>
            <% if current_user.followers.include? @user %>
              <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :user_follow_id => @user.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow profile-card-follow following" %>
            <% else %>
              <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :user_follow_id => @user.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow profile-card-follow" %>
            <% end %>
          <% end %>
        <% end %>

        <h2 class="card-title"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
        <ul class="public-profile-tabs">
          <li class="tab-link current" data-tab="tab-photos"><span class="counts counts-photos-tab"><%= @list_photos.size %></span> photos</li>
          <li class="tab-link" data-tab="tab-albums"><span class="counts counts-albums-tab"><%= @list_albums.size %></span> albums</li>
          <li class="tab-link" data-tab="tab-followings" id="_tab_followings"><span class="counts" id = "counts-followings-tab"><%= @user.followers.size %></span> followings</li>
          <li class="tab-link" data-tab="tab-followers" id="_tab_followers"><span class="counts" id = "counts-followers-tab"><%= @user.followees.size %></span> followers</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>
<!-- end card     -->
<!------->
<!-- TAB PHOTOS -->
<div id="tab-photos" class="public-profile-tab-content current">
  <div class="d-flex flex-wrap justify-content-end mt-0 mb-3 mr-3">
    <% if @full_authorities_for_this_user %>
    <%= link_to 'Add Photo', new_user_photo_path(@user), class: "btn btn-sm btn-success", id: "btn-add-photo", :"data-turbolinks" => false %>
    <% end %>
  </div>
  <div class="d-flex flex-wrap justify-content-center profiles-content-wrapper">
    <% @list_photos.each do |photo| %>
        <div class="wrap-a-photos">
          <div class="div-a-photos">
            <%= link_to image_tag(photo.image.url, :alt => photo.image_file_name, :class => "img-thumbnail a-photos-img"), 'javascript:;' %>
            <% if @full_authorities_for_this_user %>
              <%= link_to "edit", edit_user_photo_path(photo.user, photo), class: "a-edit", :"data-turbolinks" => false%>
              <% if photo.private_mode? %>
                <a href="javascript:;" class="a-lock"><i class="fa fa-lock"></i></a>
              <% end %>
            <% end %>
          </div>
          <p class="text-center"><small><%= photo.title%></small></p>  
        </div>
    <% end %>
  </div>
</div>
<!-- end TAB PHOTOS -->
<!-- TAB ALBUMS -->
<div id="tab-albums" class="public-profile-tab-content">
  <div class="d-flex flex-wrap justify-content-end mt-0 mb-3 mr-3">
    <% if @full_authorities_for_this_user %>
      <%= link_to 'Add Album', new_user_album_path(@user), class: "btn btn-sm btn-success", id: "btn-add-album", :"data-turbolinks" => false %>
    <% end %>
  </div>
  <div class="d-flex flex-wrap justify-content-center profiles-content-wrapper-albums">
    <!-- element albums -->
    <% @list_albums.each do |album| %>
      <div class="wrap-a-albums">
        <div class="div-a-albums">
          <% if album.pics.size > 0 then
            img_link = album.pics.first.image.url
            else 
            img_link = root_path + './assets/default-no-image.jpg'
          end %>
          <img src="<%= img_link %>" class="img-thumbnail a-albums-img">
          <img src="<%= img_link %>" class="img-thumbnail a-albums-img">
          <a href="javascript:;" class="a-albums-main-photo">
            <span><%= album.pics.size %></span>
            <img src="<%= img_link %>" class="img-thumbnail a-albums-img">
          </a>
          <% if @full_authorities_for_this_user %>
            <%= link_to "edit", edit_user_album_path(album.user, album), class: "a-edit", :"data-turbolinks" => false %>
            <% if album.private_mode? %>
              <a href="javascript:;" class="a-lock"><i class="fa fa-lock"></i></a>
            <% end %>
          <% end %>
        </div>
        <p class="text-center albums-title"><%= album.title %></p>
      </div>
    <% end %>
    <!-- end element albums -->
  </div>
</div>
<!-- TAB FOLLOWINGS -->
<div id="tab-followings" class="public-profile-tab-content">
  <div class="d-flex flex-wrap justify-content-center profiles-content-wrapper-followings">
    <% @user.followers.each do |follower| %>
    <!-- element -->
    <div class="d-flex flex-column followings-card">
      <div class="p-2 text-center">
        <a class="a-person" href="javascript:;">
          <img src="<%= follower.image.url %>" alt="<%= "#{follower.last_name} #{follower.first_name}" %>" class="rounded-circle" width="100" height="100">
        </a>
      </div>
      <h5 class="text-center a-person-name"><%= "#{follower.last_name} #{follower.first_name}" %></h5>
      <div class="d-flex justify-content-around mb-1">
        <div class="d-flex flex-fill flex-column a-person-card-photos">
          <p><%= follower.photos.size %></p>
          <small>PHOTOS</small>
        </div>
        <div class="d-flex flex-fill flex-column a-person-card-albums">
          <p><%= follower.albums.size %></p>
          <small>ALBUMS</small>
        </div>
      </div>
      <div class="text-center">
        <% if current_user %>
          <% if current_user != follower %>
            <% if current_user == @user %>
                <%= link_to 'unfollow', {:controller => "users", :action => "edit_add_follow", :user_follow_id => follower.id}, method: :post, remote: true , onclick: "follow_click(this,1)",  class: "a-person-card-follow unfollow" %>
            <% else %>
              <% if current_user.followers.include? follower %>
                <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :user_follow_id => follower.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow following" %>
              <% else %>
                <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :user_follow_id => follower.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow" %>
              <% end %>
            <% end %>
          <% else %>
            <button href="javascript:;" class="a-person-card-follow following">it's you</button>
          <% end %>       
        <% else %>
          <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "a-person-card-follow", onclick: "please_login()" %>
        <% end %>         
      </div>
    </div>
    <!-- end element -->
    <% end %>
  </div>
</div>
<!-- TAB FOLLOWERS -->
<div id="tab-followers" class="public-profile-tab-content">
  <div class="d-flex flex-wrap justify-content-center profiles-content-wrapper-followers">
    <% @user.followees.each do |followee| %>
      <!-- element -->
      <div class="d-flex flex-column followers-card">
        <div class="p-2 text-center">
          <a class="a-person" href="javascript:;">
            <img src="<%= followee.image.url %>" alt="<%= "#{followee.last_name} #{followee.first_name}" %>" class="rounded-circle" width="100" height="100">
          </a>
        </div>
        <h5 class="text-center a-person-name"><%= "#{followee.last_name} #{followee.first_name}" %></h5>
        <div class="d-flex justify-content-around mb-1">
          <div class="d-flex flex-fill flex-column a-person-card-photos">
            <p><%= followee.photos.public_mode.size %></p>
            <small>PHOTOS</small>
          </div>
          <div class="d-flex flex-fill flex-column a-person-card-albums">
            <p><%= followee.albums.public_mode.size %></p>
            <small>ALBUMS</small>
          </div>
        </div>
        <div class="text-center">
          <% if current_user %>
            <% if current_user != followee %>
              <% if current_user.followers.include? followee %>
                <%= link_to 'following', {:controller => "users", :action => "edit_add_follow", :user_follow_id => followee.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow following" %>
              <% else %>
                <%= link_to 'follow', {:controller => "users", :action => "edit_add_follow", :user_follow_id => followee.id}, method: :post, remote: true , onclick: "follow_click(this)",  class: "a-person-card-follow" %>
              <% end %>
            <% else %>
              <button href="javascript:;" class="a-person-card-follow following" id="its_you_follow_<%= current_user.id %>">it's you</button>
            <% end %>
          <% else %>
            <%= link_to 'follow', "javascript:;", title: "Please login to follow this user", class: "a-person-card-follow", onclick: "please_login()" %>
          <% end %>
        </div>
      </div>
    <!-- end element -->
    <% end %>
  </div>
</div>

