<%= form_with(model: [user, album], local: true, html: { :multipart => true, id: "form-add-album" }) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title%>
        <%= f.text_field :title, placeholder: "Title",:class => 'form-control'%>
      </div>
    <!-- sharing mode -->
    <div class="form-group">
      <%= f.label :sharing_mode %>
      <%= f.select :sharing_mode, options_for_select([["Public", :public_mode], ["Private", :private_mode]], :public_mode ),{:prompt => "Select One"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
    </div>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :description%>
      <%= f.text_area(:description, size: '50x3', class: 'form-control', placeholder: "Description") %>
    </div>
  </div>
  <% unless album.id&.present? %>
    <%= f.fields_for :pics, @album.pics.build do |ff| %>
    <div class="custom-file my-custom-file">
      <%= ff.file_field :image, multiple: true, name: "pics[image][]", :class => "custom-file-input my-custom-file" %> 
      <label class="custom-file-label my-custom-file" for="customFile">
        <i class="fa fa-plus"></i>
      </label>
    </div>
    <% end %>
    <div id="album_image_preview" class="d-flex flex-wrap justify-content-start mt-3"></div>
  <% end %>
<div class="actions mt-3">
  <%= f.submit "Save", :class => "btn btn-sm btn-success", id: "btn-add-album-submit" %>
</div>
<% end %>