<h2 class="mt-3 mb-3">Edit Album</h2>
<hr>
  <%= render 'form', album: @album, user: @user %>
<hr>
<div id="content">
  <%= form_for :pic, :url => {:controller => "pics", :action => "create", :album_id => @album.id}, html: { multipart: true, class: "dropzone", id: "my-dropzone-album" } do |f| %>
    <div class="dz-message needsclick">
      <h3>Add or Remove Images of Album here</h3>
    </div>
    <div class="fallback">
      <%= f.file_field :image %>
      <%= f.submit "Upload the Image" %>
    </div>
  <% end %>
</div>
<hr>
<%= link_to 'Show', user_album_path(@album.user, @album), class: "btn btn-sm btn-info" %> |
<%= link_to 'Back', user_albums_path, class: "btn btn-sm btn-primary" %>
