<!-- <form id="form_new_photo" enctype="multipart/form-data" method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="sharing_mode">Sharing Mode</label>
        <select name="share_mode" id="share_mode" class="form-control">
          <option value="1">Public</option>
          <option value="2">Private</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
    </div>
  </div>
  <div class="d-flex justify-content-start form-group">
      <div class="col-up-load" id="col-input-file">
        <div class="custom-file my-custom-file">
          <input type="file" accept = "image/*" class="custom-file-input my-custom-file" id="customFile" name="file">
          <label class="custom-file-label my-custom-file" for="customFile">
            <i class="fa fa-plus"></i>
          </label>
        </div>
      </div>
      <div class="d-flex col-up-load" id="img_preview">
      </div>
  </div>
  <button type="submit" class="btn btn-sm btn-success">Save</button>
</form>
-->

<%= form_with(model: photo, local: true, :html => { :id => "form_new_photo" }) do |f| %>
<% if photo.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

  <ul>
    <% photo.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control"%>
    </div>
  </div>
</div>
<div class="d-flex justify-content-start form-group">
  <div class="col-up-load" id="col-input-file">
    <div class="custom-file my-custom-file">
      <%= f.file_field :image , :class => "custom-file-input my-custom-file"%>
      <label class="custom-file-label my-custom-file" for="customFile">
        <i class="fa fa-plus"></i>
      </label>
    </div>
  </div>
  <div class="d-flex col-up-load" id="img_preview">
  </div>
</div>
<div class="actions">
  <%= f.submit "Save" , :class => "btn btn-sm btn-success" %>
</div>
<% end %>
