<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table class="table table-hover">
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td> <code><%= photo.title %> </code></td>
        <td>
        <%= image_tag(photo.image.url, width: 100, class: "img-fluid") if photo.image.exists? %>        
        </td>
        <td><%= link_to 'Show', user_photo_path(photo.user, photo), class: "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_photo_path(photo.user, photo), :"data-turbolinks" => false, class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', [photo.user, photo], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user and ( current_user.id == @user.id || current_user.admin) %>
<%= link_to 'New Photo', new_user_photo_url,:"data-turbolinks" => false, class: "btn btn-sm btn-info" %>
<% end %>