<nav class="navbar navbar-expand-lg navbar-dark bg-blue custom">
    <% if isAdminPage %>
      <div class="container-fluid">
      <%= link_to "Fotobook Admin", admin_dashboard_path, class: "navbar-brand"%>
    <% else %>
      <div class="container">
      <%= link_to "Fotobook", root_path, class: "navbar-brand"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="col-md-6 mr-auto">
        <%#  %>
        <% 
          target_url = discover_path if @active_discover
          target_url = feeds_path if @active_feeds
        %>
        <%= form_tag(target_url,method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :search, "", class: "form-control", placeholder: t('.search'), id: "nav-search" %>
            <div class="input-group-append">
            <%= button_tag(type: "submit", name:nil, class: "btn btn-sm btn-default") do %>
              <i class="fa fa-sm fa-search"></i>
            <% end %>
            </div>
          </div>
        <% end %>
        <%#  %>
      </div>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user), :class=> "nav-link", :"data-turbolinks" => false do %>
          <span class="nav-user-wrapper">
            <img src="<%= current_user.image.url %>" alt="<%= current_user.first_name + " " + current_user.last_name %>" class="rounded-circle">
            <span class="nav-user-name"><%= current_user.nil? ? "no name" : current_user.first_name.capitalize + " " + current_user.last_name.capitalize %></span>
          </span>
          <% end %>
        </li>
        <% if !isAdminPage and current_user.admin %>
          <li class="nav-item">
            <%= link_to "Dashboard", admin_dashboard_path, :class=> "nav-link", :"data-turbolinks" => false %>
          </li>
        <% end %>
        <li class="nav-item"><%= link_to t('.logout'), destroy_user_session_path, class: "nav-link", method: :delete %></li>
        <% else %>
        <li class="nav-item"><%= link_to t('.login'), new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('.signup'), new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
