<!DOCTYPE html>
<html>
<head>
  <title>Fotobook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render "layouts/nav" %>
  <!-- Page Content -->
  <div class="container-fluid mt-3 mb-3">
    <div class="row">
      <!-- Left <div class="d-flex flex-column left"></div> -->
      <div class="col-lg-2 d-flex flex-column">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <%= link_to "Feeds", feeds_path, class: if @active_feeds then "d-block left-item active" else "d-block left-item" end , :"data-turbolinks" => false %>
            <%= link_to "Discover", root_path, class: if @active_discover then "d-block left-item active" else "d-block left-item" end , :"data-turbolinks" => false %>
          </div>                
        </div>
      </div>
      <!-- end Left -->

      <!-- Content -->
      <div class="col-lg-8 pb-3 main-content">
        <%= yield %>
      </div>
      <!-- end Content -->
    </div>
  </div>
  <script>
   <%= sanitize custom_bootstrap_flash %>
 </script>
</body>
</html>
