<!DOCTYPE html>
<html>
<head>
  <title>Fotobook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render "layouts/nav" %>
  <!-- Page Content -->
  <div class="container-fluid mt-3 mb-3">
    <div class="row">
      <!-- Left -->
      <div class="col-lg-2">
        <div class="d-flex flex-column left">
          <a href="javascript:;" class="left-item active">Feeds</a>
          <a href="javascript:;" class="left-item">Discover</a>
        </div>
      </div>
      <!-- end Left -->

      <!-- Content -->
      <div class="col-lg-8 pb-3 main-content">
        <%= yield %>
      </div>
      <!-- end Content -->
    </div>
  </div>
  <script>
   <%= sanitize custom_bootstrap_flash %>
 </script>
</body>
</html>
